html {
    height: 100%;
}

body {
    background: url('/media/uma.jpg') no-repeat center center;
    background-size: 400px;
    height: 100%;
    font-family: 'Murecho', sans-serif;
    color: black;
}

.header-container {
    z-index: 99;
    height: 200px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
}

.main-logo-link {
    width: fit-content;
}

.store-button {
    background: black;
    color: white;
    font-size: 1rem;
    min-width: 150px;
}

.btn-white {
    background: white;
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: white;
    color: black;
}

.text-black {
    color: black !important;
}

.cover {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.shop-now {
    padding-top: 100px;
    z-index: 99;
    position: absolute;
}

.absoulute {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 100%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}

@media (max-width: 992px) {
    .header-container {
        padding-top: 120px;
    }

    body {
        background-size: 250px;
        height: calc(100% - 120px);
    }

    .header-container {
        height: 10px;
    }
}
