html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Helvetica Neue, helvetica, arial, sans-serif;
    color: black;
    padding: 0 !important;
    margin: 0 !important;
}

.enter {
    width: 400px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.rotate {
    animation: rotation 8s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}

.header-container {
    z-index: 99;
    height: 100px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
}

.main-logo-link {
    width: fit-content;
}

.store-button {
    background: black;
    color: white;
    font-size: 1.3rem;
    width: 180px;
    height: 45px;
    border-radius: 0;
}


.btn-white {
    background: white;
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: white;
    color: black;
}

.text-black {
    color: black !important;
}

.cover {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.shop-now {
    padding-top: 50px;
}

.absolute {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 100%;
}

.top {
    cursor: pointer;
}

.circle {
    height: 19px;
    width: 19px;
    color: white !important;
    background-color: rgb(124, 6, 98);
    border-radius: 50%;
    font-size: 0.8rem; 
    margin-left: 4px;
  }

  footer {
      border-top: 2px solid black;
      bottom: 0px;
      height: 50px;
      width: 100%;
      margin-top: 150px;
      position: fixed;
  }

  .space {
      padding: 100px;
  }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}

@media (max-width: 992px) {
    body {
        background-size: 250px;
        height: calc(100% - 120px);
    }

    .store-button {
        width: 100px;
        height: 35px;
        font-size: 0.7rem;
    }

    .enter {
        width: 250px;
    }
}
