<div class="collapse navbar-collapse absolute bg-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-2" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=t_shirt" class="dropdown-item">T-shirts</a>
                <a href="{% url 'products' %}?category=sweater" class="dropdown-item">Sweaters</a>
                <a href="{% url 'products' %}?category=jacket" class="dropdown-item">Jackets</a>
            </div>
        </li>
    </ul>
</div>