{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center p-0 mt-3">
                <a href="{% url 'products' %}" class="btn">
                    <img class="enter rotate linear infinite" src="/media/uma.jpg" alt="">
                </a>
        </div>
    </div>
</div>
<h5 class="text-center text-black indextext"><strong>Click Logo to Enter Store</strong></h5>
{% endblock %}
