{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100 w-75">
    <div class="row">
        <div class="col-12 text-left padding">
            <h3>
                <a href="{% url 'products' %}" class="store-button btn">Shop now</a>
            </h3>
        </div>
    </div>
</div>
{% endblock %}
