{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center" id="landing-page">
    <div class="row">
        <div class="col text-center p-0 mt-3">
            <a href="{% url 'products' %}" class="btn">
                <img class="enter rotate linear infinite" src="/media/uma.jpg" alt="uma logo rotation">
            </a>
            <h5 class="text-center text-black indextext"><strong>Click Logo to Enter Store</strong></h5>
        </div>
    </div>
</div>
{% endblock %}