{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Murecho:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title> {% block extra_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'index' %}" class="nav-link main-logo-link mx-auto">
                    <h1 class="display-4 text-black my-0 text-center p-4"><strong>ÚMA</strong></h1>
                </a>
                <li class="my-auto py-1 py-lg-0 list-inline-item float-right text-center">
                    <a class="text-black nav-link" href="#" id="search" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="">
                            <div><i class="fas fa-search fa-lg"></i></div>
                        </div>
                    </a>
                    <div class="dropdown-menu p-3 my-0 border-0 w-100" aria-labelledby="mobile-search">
                        <form class="form" method="GET" action="{% url 'products' %}">
                            <div class="input-group">
                                <input class="form-control border-0 search" type="text" name="sq"
                                    placeholder="Search for items">
                                <div class="input-group-append">
                                    <button class="form-control btn border-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <div class="my-auto py-1 py-lg-0 float-right">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-male fa-lg"></i></div>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item float-right">
                            <a class="{% if grand_total %}text-black font-weight-bold{% else %}text-black{% endif %} nav-link"
                                href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-cart fa-lg my-0"></i>
                                        <div class="my-0">
                                            {% if product_count != 0 %}
                                            <p class="circle">{{ product_count }}</p>
                                            {% else %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bg-white float-left my-auto py-1 py-lg-0 text-center">
                    <nav class="navbar w-100">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-grip-lines fa-lg"></span>
                        </button>
                        {% include 'includes/main-nav.html' %}
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container text-center mx-auto">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_alert.html' %}
        {% elif level == 25 %}
        {% if product_count != 0 %}
        {% include 'includes/toasts/toast_intend.html' %}
        {% endif %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
    <footer class="mt-auto pb-2">
        <div class="container-header">
            <div class="row">
                <div class="col">
                    <li class="my-auto py-1 py-lg-0 list-inline-item float-left text-center">
                        <a class="text-black nav-link afooter" href="#" id="#"> 
                            ©2022  Úma
                        </a>
                    </li>
                    <li class="my-auto py-1 py-lg-0 list-inline-item text-center">
                        <a class="text-black nav-link afooter" href="#" id="#">
                            About
                        </a>
                    </li>
                    <li class="my-auto py-1 py-lg-0 list-inline-item text-center">
                        <a class="text-black nav-link afooter" href="#" id="#">
                            Contact
                        </a>
                    </li>
                    <li class="my-auto py-1 py-lg-0 list-inline-item float-right text-center">
                        <a class="text-black nav-link" href="https://sv-se.facebook.com/" id="#">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>